<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fluffy Tails{% endblock %}</title>
    <script src="https://kit.fontawesome.com/00743eceec.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    {% block head %} {% endblock %}

</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="./static/image.png" alt="Feelzy-Music">
        </div>
        <div class="box">
            <a href="#J1">
                <i class="fa-solid fa-house fa-2xl"></i>
            </a>

        </div>
        <div class="dropdown-container">
            <div class="allAbout">
                <a href="#">All About Animals</a>
            </div>
            <label for="dropdown-toggle" class="dropdown-label">▼</label>
            <input type="checkbox" id="dropdown-toggle">
            <div class="dropdown-menu">
                <div class="option">ADOPT OR GET INVOLVED
                    <div class="sub-dropdown">
                        <div class="sub-option">ABOUT FLUFFY TAILS</div>
                        <div class="sub-option">ADOPTING PETS</div>
                        <div class="sub-option">FLUFFY TAILS FOUNDATION</div>
                    </div>

                </div>
                <div class="option">DOGS & PUPPIES
                    <div class="sub-dropdown">
                        <div class="sub-option">DOG ADOPTION</div>
                        <div class="sub-option">DOG BREEDS</div>
                        <div class="sub-option">FEEDING YOUR DOG</div>
                        <div class="sub-option">OTHER DOG INFORMATION</div>
                    </div>

                </div>
                <div class="option">CATS & KITTENS
                    <div class="sub-dropdown">
                        <div class="sub-option">CAT ADOPTION</div>
                        <div class="sub-option">CAT BREEDS</div>
                        <div class="sub-option">FEEDING YOUR CAT</div>
                        <div class="sub-option">OTHER CAT INFORMATION</div>
                    </div>

                </div>
                <div class="option">OTHER TYPES OF PETS
                    <div class="sub-dropdown">
                        <div class="sub-option">GUINEA PIGS</div>
                        <div class="sub-option">HORSES</div>
                        <div class="sub-option">RABBITS</div>
                        <div class="sub-option">REPTILES</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ContactUs">
            <a href="ContactUs.html">
                <p>Contact Us</p>
            </a>
        </div>
        <div class="AboutUs">
            <a href="AboutUs.html">
                <p>About Us</p>
            </a>
        </div>
        <div class="login">
            <a href="Login.html">
                <p>Log in</p>
            </a>
        </div>
        <div class="Register">
            <a href="Register.html">
                <p>Register</p>
            </a>
        </div>
    </nav>

    <main>
        {% block content %}


        {% endblock %}
    </main>

    <footer>
        <div class="top-bar">
            <img src="./static/image.png" alt="Fluffy Tails">
            <span>Your Pet, Our Passion.™</span>
        </div>

        <div class="footer-content">
            <div class="footer-column">
                <h3>RESOURCES</h3>
                <a href="#">FAQs</a>
                <a href="#">Mobile App Download</a>
                <a href="#">Partnerships</a>
                <a href="#">News Center</a>
                <a href="#">Put Petfinder On Your Site</a>
                <a href="#">For Developers</a>
                <a href="#">Contact Us</a>
            </div>

            <div class="footer-column">
                <h3>ADOPT OR GET INVOLVED</h3>
                <a href="#">All Adopt or Get Involved</a>
                <a href="#">Adopting Pets</a>
                <a href="#">Animal Shelters & Rescues</a>
                <a href="#">Other Types of Pets</a>
            </div>

            <div class="footer-column">
                <h3>ABOUT DOGS & PUPPIES</h3>
                <a href="#">All About Dogs & Puppies</a>
                <a href="#">Dog Adoption</a>
                <a href="#">Dog Breeds</a>
                <a href="#">Feeding Your Dog</a>
                <a href="#">Dog Behavior</a>
                <a href="#">Dog Health & Wellness</a>
                <a href="#">Dog Training</a>
                <a href="#">Other Dog Information</a>
            </div>

            <div class="footer-column">
                <h3>ABOUT CATS & KITTENS</h3>
                <a href="#">All About Cats & Kittens</a>
                <a href="#">Cat Adoption</a>
                <a href="#">Cat Breeds</a>
                <a href="#">Feeding Your Cat</a>
                <a href="#">Cat Behavior</a>
                <a href="#">Cat Health & Wellness</a>
                <a href="#">Cat Training</a>
                <a href="#">Other Cat Information</a>
            </div>

            <div class="newsletter-box">
                <p>To get the latest on pet adoption and pet care, sign up for the Petfinder newsletter.</p>
                <button class="signup-btn">SIGN UP</button>
            </div>
        </div>

        <br><br>

        <p>Shelter & Rescue Registration | Sitemap | Terms of Service | Notice at Collection | Privacy Policy
            (updated) | Accessibility | Cookie Policy | Your Privacy Choices</p>

        <br>

        <div class="bottom-bar">
            <p>©2025 Petfinder.com. All trademarks are owned by Société des Produits Nestlé S.A., or used with
                permission.</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                <a href="https://x.com/"><i class="fa-brands fa-twitter fa-2xl"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-2xl"></i></a>
                <a href="https://in.pinterest.com/"><i class="fa-brands fa-pinterest fa-2xl"></i></a>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/00743eceec.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>