{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
<style>
    .text-center{
        margin-top: 250px;
        
    }
    
    body{
        background-color:#3e0950;
        color: white;
    }
    
</style>
{% endblock %}

{% block main_block %}
<div class="text-center">
    <img src="./static/image.png" height="200px" width="250px">
    <br><br><br>
    <h1 style="font-size: 100px;">Welcome to FluffyTails</h1>
    <p style="font-size: 30px;">Please login or register to continue.</p>
</div>
{% endblock %} 
